<h1> S U R V E Y </h1>


<% @survey.each do |survey| %>
  <div>
    <a href="#"><%= survey.title %></a>
  </div>
<% end %>



<form action="/survey" method="post">
  <input type="text" name="title" placeholder="make a question" ></input>
  <input type= "submit" value= "Submit"</input>
</form>
