<h1>Welcome To Drake Survey</h1>

<form action="login" method="get">

<input type="submit" value="Login"/>

</form>

<form action="signup" method="get">

<input type="submit" value="Sign Up"/>

</form>

