<div class="login">
<h1> LOGIN </h1>

<% if @failed_login %>
<h3>Bad email or password</h3>
<% end %>
<form action="/login" method="post">
  <div>
    <label>
      Email: <input type="text" name="email"><br>
    </label>

  </div>
  <div>
    <label>
      Password: <input type="password" name="password"><br>
    </label>
  </div>
  <input type="submit" value="Submit">
</form>
</div>
